/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.background{
    -fx-background-image: url("../images/logoactualizado.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}