/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.background{
    -fx-background-image: url("../images/logoactualizado.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.text-input.error {
    -fx-focus-color: #d35244;
    -fx-faint-focus-color: #d3524422;

    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color:
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}

.side-navbar{
    -fx-background-color : #42607B;
}

.side-navbar-items-container{
    -fx-background-color: #FFFFFF;
}

.side-navbar-item{
    -fx-background-color: #ECECEC;
    -fx-font-size: 17px;
    -fx-padding: 15px;
}

.side-navbar-item-selected{
    -fx-background-color: #F3F3F3;
    -fx-font-size: 17px;
    -fx-padding: 15px;
}

.default-color0.chart-series-line { -fx-stroke: transparent; }
.default-color1.chart-series-line { -fx-stroke: red; }

.default-color0.chart-line-symbol { 
    -fx-background-color: white, green; 
}
.default-color1.chart-line-symbol { 
    -fx-background-color: transparent, transparent; 
}

.default-color0.chart-legend-item-symbol{
    -fx-background-color: green;
 }
.default-color1.chart-legend-item-symbol{
    -fx-background-color: red;
 }